@font-face {
font-family: 'DancingScript-Regular'
src:url(DancingScript-Regular.tff);
}
*{
  box-sizing: border-box;
}
#contenedor{
background-color: #02010a;
font-family: "Dancing Script";
color: white;
text-shadow: 2px 2px 2px #02010a;
width: 100%;
padding-right: 5px;
padding-left: 5px;
}
#cabecera{
display: block;
display: -webkit-block;
background-color: #5b7989;
width: 100%;
border: solid  #5b7989;
border-radius: 10px 10px 0px 0px;
margin-top: 10px;
height: 90px;
text-align: left;
}
.imagen1{
  width: 90%;
  height: 350px;
}
h1{
  float: left;
  width: 75%;
  top: 10px;
  left: 16px;

}
nav{
  height: 100%;
}
.linksup{
  text-align: justify;
  list-style-type: none;
  overflow: hidden;
  height: 100%;
}
.item{
  float: right;
  display: inline-block;
  margin: 1px 15px;
  padding: 10px 0px;
  height: 100%;
  font-size: 1.4em;
}
a{
  text-decoration: none;
}
a:link{
  color: white;
}
a:visited{
  color: white;
}
img{
  box-shadow: 2px 2px #02010a;
  width: 100%;
}
#encabezado{
  background-color: #82c3a6;
  display: block;
  display: -webkit-block;
  min-height: 100px;
  padding: 15px;
}
.contenido{
  text-align: center;
}
#secundaria{
display: flex;
display: -webkit-flex;
flex-flow: row wrap;
-webkit-flex-flow: row wrap;
background: #d5c75f;
min-height: 100px;
padding: 20px 0;
}
.imgSecundaria{
width: 50%;
text-align: center;
padding: 0 15px;
}
#footer{
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
}
.piepagina{
  width: 25%;
  text-align: center;
}
ul li{
  list-style: none;
  text-align: left;
}
